.particles-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $accent;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

/* стили для анимированного блока на главной в хедере*/
#header-particles {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $accent;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
/* стили для анимированного блока в секции Services */
/* стили для анимированного блока в секции Services Карточка 1 */
#card-1-particles {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $accent;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
/* стили для анимированного блока в секции Services Карточка 2 */
#card-2-particles {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $accent;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
/* стили для анимированного блока в секции Services Карточка 3 */
#card-3-particles {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $accent;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}