@import 'config';
@import 'globals';
@import 'components/particles-bg.scss';
@import 'components/aside.scss';
@import 'components/header.scss';
@import 'components/footer.scss';
@import 'components/page-nav.scss';
@import 'components/main-page.scss';
@import 'components/services.scss';
@import 'components/mainslide.scss';
@import 'components/big-map.scss';
@import 'components/benefits.scss';
@import 'components/service-hero.scss';
@import 'components/seo-services.scss';
@import 'components/callback-form.scss';
@import 'components/send-request.scss';
@import 'components/service-bonus.scss';
@import 'components/technical-support.scss';
@import 'components/happy-clients.scss';
@import 'components/price-plans.scss';
@import 'components/service-footer.scss';




/* Заставка страницы seo и рекламы */
.corporate-hero {
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    background: url(/img/dest/corporate-bg.png) no-repeat 50%;
    &__wrapper {
        position: relative;
    }
    /* заголовок */
    h1 {
        font-weight: 700;
        font-size: 64px;
        line-height: 72px;
        padding-top: 135px;
    }
    /* блок после заголовка */
    &__action-text {
        position: relative;
        display: flex;
        font-weight: 300;
        font-size: 20px;
        line-height: 32px;
        color: var(--textinner);
        background-color: #fff;
        width: 100%;
        max-width: 1140px;
        align-items: center;
        bottom: -70px;
        padding: 55px;
        margin-bottom: 90px;
        box-shadow: 0px 16px 32px 0px rgba(176, 186, 193, 0.24);
        /* иконка */
        img {
            margin-right: 21px;
        }
        /* текст */
        p {
            margin-bottom: 0;
        }
    }
}

.corporate-benefit {
    position: relative;
    max-width: 1920px;
    padding: 120px 0;
    margin: 0 auto;
    .corpotate-benefit__wrapper {
        max-width: 1664px;
        margin: 0 auto;
    }
    h2 {
        font-weight: 900;
        font-size: 64px;
        color: var(--textinner);
        margin-bottom: 51px;
    }
}
.corpotate-benefit-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    &__image-left {
        height: 400px;
        img {
            
            margin-left: -165px;
        }
    }
    &__image-right {
        height: 400px;
        img {
            
            margin-right: -165px;
        }
    }
    &__icon {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
        img {
            width: 56px;
            height: 56px;
            margin-right: 25px;
            
        }
        p {
            font-weight: 900;
            font-size: 24px;
            line-height: 32px;
            color: var(--accent);
            letter-spacing: 0.144;
            margin-bottom: 0;
        }
    }
    &__text {
        p {
            font-weight: 300;
            font-size: 20px;
            line-height: 30px;
            color: var(--textinner);
            padding: 0 35px 0 0;
            margin-bottom: 0;
        }
    }
}
.corpotate-benefit-big-bg {
    background: url(/img/dest/corporate-big-bg.png) no-repeat center center;
    padding: 120px 0;
    margin-top: 100px;
    h3 {
        font-weight: 700;
        font-size: 32px;
        line-height: 50px;
        margin-bottom: 30px;
    }
}

/* media adapt */
@import "media";