.aside {
    display: none;
    background-color: #fff;
    position: fixed;
    width: 64px;
    height: 100%;
    z-index: 102;
    box-shadow: 7.873px -9.057px 24px 0px rgba(0, 119, 194, 0.4);
    &__sidenav {}
    &__menu {}
    &__nav {}
    .socials {
        margin-top: 200px;
        margin-bottom: 15px;
    }
    .socials-inner {}
}
.sidenav {
    display: none;
    max-width: 270px;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: all 0.25s ease;
    z-index: 103;
    &__closebtn {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #0075bf;
        background-color: #e6ebf3;
        font-size: 36px;
        width: 63px;
        height: 63px;
        margin: 0 0 0 auto;
        &:hover {
            color: rgba(0, 117, 191, .8);
            background-color: var(--hoverlightgrey);
        }
    }
    &.open {
        display: block;
        transition: all 0.25s ease;
    }

}

.aside-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    &__item {
        position: relative;
        &:first-child {
            &::before {
                content: '';
                position: absolute;
                margin: 0 auto;
                left: 0;
                right: 0;          
                height: 1px;
                background-color: #f1f1f2;
                width: 100%;
            }
        }
        &::after { 
            content: '';
            position: absolute;
            margin: 0 auto;
            left: 0;
            right: 0;          
            height: 1px;
            background-color: #f1f1f2;
            width: 100%;
        }
        &:hover {
            background-color: var(--hoverlightgrey);
            transition: all .25s ease;
            &::after {
                display: none;
            }
            &::before {
                display: none;
            }
        }
    }
    &__link {
        display: block;
        color: var(--textgrey);
        padding: 0 25px 0 25px;
        text-decoration: none;
        transition: all .25s ease;
        font-weight: 900;
        font-size: 20px;
        line-height: 72px;
        letter-spacing: 0.008em;
        text-decoration: none;
        &:hover {
            color: var(--textgrey);
            transition: all .25s ease;
            text-decoration: none;
        }
        &_phone {
            display: flex;
            align-items: center;
            line-height: 80px;
            letter-spacing: 0;
            color: var(--accent);
            img {
                margin: 0 8px 0 0;
            }
            &:hover {
                color: var(--textgrey);
      
            }
        }
    }
    &__address {
        display: flex;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: var(--textgrey);
        padding: 25px 25px 25px 25px;
        margin: 0;
    }
    &__address-icon {
        margin: 3px 11px 0px 2px;
    }
    &__address-text {
        span {
            &:last-child {
                font-weight: 900;
            }
        }
    }
}
.aside-nav {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    &__open {}
    &__socials {
        &.socials {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            list-style-type: none;
            bottom: 0;
            padding: 0;
            margin: 0;
            z-index: 101;
        }
    }

}
.open-btn {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    background-color: var(--accent);
    color: #ffffff;
    font-size: 13px;
    font-weight: 900;
    line-height: 22px;
    z-index: 102;
    width: 64px;
    height: 64px;
    &:hover {
        opacity: 0.9;
    }
    &__icon {
        font-size: 20px;
        margin: 15px auto 0;
    }
    &__text {
        margin: 0 auto;
    }
}

