.footer {
    &__bg-line {
        background-color: #fff;
    }
    &__contacts {}
    &__copyright {}
    
}

.footer-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px 15px;
    &__list {
        list-style-type: none;
        display: flex;
        font-weight: 900;
        font-size: 18px;
        padding: 0;
        margin: 0;
    }
    &__item {
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
    &__link {
        display: block;
        position: relative; 
        text-decoration: none; 
        font-weight: 900;
        font-size: 18px;
        color: var(--accent);
        text-decoration: none;
        &.link-a {

        }
        &:hover {
            text-decoration: none;
        }
    }
    &__mail {}
    &__mail {}
    &__mail-btn {
        display: flex;
        align-items: center;
        font-weight: 900;
        font-size: 14px;
        color: var(--accent);
        padding: 0;
        text-decoration: none;
        text-transform: uppercase;
        transition: all 0.5s ease 0s;
        img {
            margin-right: 10px;
        }
        span {
            position: relative;
        }
        &:hover {
            text-decoration: none;
        }
    }
}

.footer-contacts {
    background-color: #d9e0eb;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 30px 0;
    }
    &__info {}
    &__socials {
        .socials {
            &__item {
                &:not(:last-child) {
                    margin-right: 10px;
                    
                }
            }
            &__link {
                border-radius: 2px;
                width: 40px;
                height: 40px;
            }
        }
    }
}
  
.contact-info {
    display: flex;
    &__item {
        &:not(:last-child) {
            margin-right: 80px;
        }
    }

}
.contact-item {
    font-weight: 900;
    color: var(--textgrey);
    padding-left: 0;
    line-height: 32px;
    &_phone {
        font-size: 24px;
        .contact-item__icon {
            margin-top: -2px;
            margin-right: 10px;
        }
    }
    &_address {
        font-size: 22px;
        .contact-item__icon {
            margin-top: 0;
            margin-right: 10px;
        }
    }
    &__content {
        display: flex;
    }
    &__icon {
    }
    &__link {
        color: var(--textgrey);
        &:hover {
            color: var(--textgrey);
        }
    }
    &__description {
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
    }

}

.footer-copyright {
    background-color: #e2e7f0;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--textgrey);
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        padding: 20px 0;
    }
    &__item {
        &_studio {}
        &_policy {}
        .policy {
            color: var(--accent);
        }
    }
}