.portfolio {
    padding-bottom: 130px;
    /* Заголовок */
    &__title {
        position: absolute;
        font-size: 56px;
        font-weight: 900;
        letter-spacing: 0.025em;
        text-align: center;
        top: 63px;
        left: 0;
        right: 0;
        z-index: 80;
        margin: 0;
    }
    /* Описание сайта в портфолио */
    &__site {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        color: var(--textgrey);
        
        
    }
}


/* Настройка контейнера */
.portfolio-slider {
    .swiper-slide-next {
        opacity: 0;
    }
    &__slide {
        max-width: 1665px;
        width: 100%;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        margin: 0 auto;
        padding: 140px 0px 100px 0;
    }
    &__container {
        max-width: 1170px;
        width: 100%;
        background-color: #fff;
        color: var(--textgrey);
        display: flex;
        padding: 80px 0 80px 0;
        margin: 40px auto 75px;
    }
    &__mockups {}
    &__content {}
    &__btn {
        background-color: #dce5ef;
        color: var(--accent);
        font-size: 14px;
        font-weight: 900;
        padding: 9px 17px 9px 17px;
        box-shadow: none;
        text-decoration: none;
        transition: all 0.25s ease;
        &:hover {
            text-decoration: none;
            color: var(--textwhite);
            background-color: var(--accent);
            transition: all 0.25s ease;
        }
        &.button {
            border-bottom: none;
        }
    }
}
.portfolio-mockups {
    display: flex;
    flex-direction: row;
    margin-left: -595px;
    &__item {
        margin-right: 30px;
        img {

        }
    }
}

.about-site {
    max-width: 460px;
    min-width: 320px;
    &__title {
        font-weight: 900;
        font-size: 32px;
        line-height: 40px;
        margin: -6px 0 30px 0;
    }
    &__tags {
        margin-bottom: 10px;
    }
    &__content {
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        margin: 0 0 30px 0;
    }
}


.tags {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    color:  #0077c2;
    font-size: 12px;
    line-height: 28px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    margin-bottom: 15px;
    &__item {
        &:not(:last-child) {
            margin-right: 10px;
        }
    }
    &__link {
        display: block;
        font-size: 10px;
        line-height: 21px;
        padding: 0 8px;
        border: 1px dotted #0077c2;
        border-radius: 2px;
        margin-bottom: 10px;
        text-decoration: none;
        transition: all 0.25s ease;
        &:hover {
            color: #dce5ef;
            text-decoration: none;
            border: 1px dotted #0077c2;
            background-color: #0077c2;
            transition: all 0.25s ease;
        }
    }
}

/* Свои стили для навигации слайдера */
.custom_swiper_nav {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    bottom: 95px;
    left: 0;
    right: 0;
    z-index: 1;
    text-transform: uppercase;
    /* Стили для блока с выводом кол-ва слайдов */
    .swiper-pagination-fraction {
        max-width: 235px;
        width: 100%;
        display: flex;
        justify-content: center;
        color: #fff;
        line-height: 18px;
        /* нынешняя позиция слайдера */
        .swiper-pagination-current {
            font-weight: 900;
            font-size: 24px;
            margin: 0 5px 0 0;
        }
        /* общее кол-во слайдов  */
        .swiper-pagination-total {
            font-weight: 300;
            font-size: 14px;
            margin: 0 0 0 5px;
        }
    }
    /* кнопка назад(Предыдущий слайд)  */
    .custom-swiper-button-prev {
        font-weight: 300;
        font-size: 12px;
        text-align: right;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        /* стрелочка */
        .arrow-box {
            margin-left: 15px;
            span {
                margin-top: -3px;
            }
            &:hover {
                background-color: rgba($color: #fff, $alpha: 0.2);
            }
        }
        
    }
    /* кнопка вперед(Следующий  слайд)  */
    .custom-swiper-button-next {
        font-weight: 300;
        font-size: 12px;
        text-align: left;
        display: flex;
        flex-direction: row;
        align-items: center;
        /* стрелочка */
        .arrow-box {
            margin-right: 15px;
            span {
                margin-top: -3px;
            }
            &:hover {
                background-color: rgba($color: #fff, $alpha: 0.2);
            }
        }
    }
    /* общие стили стрелочки */
    .arrow-box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 49px;
        height: 49px;
        border: 2px solid #fff;
        font-size: 20px;
        line-height: 12px;
    }
}