.page-nav {
    padding: 50px 0;
    &__list {
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        gap: 30px;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    &__item {
        
    }
    &__link {
       
        
    }
}

.page-nav-dropdown {
    cursor: pointer;
    position: relative;
    display: flex;
    color: var(--textwhite);
    padding: 20px 20px 20px 35px;
    border: 1px dashed #b8d1e5;
    border-radius: 4px;
    transition: all .25s ease-in-out;
    &__header {
        display: flex;
    }
    &__icon {
        flex: 0 0 40px;
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        margin-top: 5px;
        margin-right: 15px;
        transition: all .25s ease-in-out;
        &_webdev {
            background-image: url(/img/dest/page-nav/usability-white-icon.png);
            transition: all .25s ease-in-out;
        }
        &_support {
            background-image: url(/img/dest/page-nav/headset-white-icon.png);
            transition: all .25s ease-in-out;
        }
        &_seo-public {
            background-image: url(/img/dest/page-nav/loupe-white-icon.png);
            transition: all .25s ease-in-out;
        }
    }
    &__title {
        max-width: 195px;
        font-weight: 900;
        font-size: 22px;
        line-height: 26px;
    }
    &__body {}
    &__list {
        opacity: 0;
        position: absolute;
        top: 100%;
        left: -1px;
        display: none;
        /* display: flex; */
        flex-direction: column;
        list-style: none;
        width: calc(100% + 2px);
        background-color: #fff;
        padding: 0 25px;
        margin: 0;
        z-index: 1;
        box-shadow: 0px 16px 32px 0px rgba(176, 186, 193, 0.24);
        transition: opacity .25s ease-in-out;
    }
    &__item {
        border-top: 1px solid #eaedef;
        &:hover {
            .dropdown-link__icon_ecommerce {
                background-image: url(/img/dest/page-nav/inner-page-ecommerce-icon-blue.png);
            }
            .dropdown-link__icon_corporate {
                background-image: url(/img/dest/page-nav/inner-page-corporate-icon-blue.png);
            }
            .dropdown-link__icon_landing {
                background-image: url(/img/dest/page-nav/inner-page-landing-icon-blue.png);
            }
        }
    }
    &__link {
    }
    &::after {
        position: absolute;
        content: '';
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        width: 14px;
        height: 9px;
        background-image: url(/img/dest/page-nav/inner-page-menu-arrow-down-white-icon.png);
        transition: all .25s ease-in-out;
    }
    &:hover {
        border: 1px solid transparent;
        border-radius: 4px 4px 0 0;
        background-color: #fff;
        color: #0077c2;
        transition: all .25s ease-in-out;
        .page-nav-dropdown__icon_webdev {
            background-image: url(/img/dest/page-nav/usability-blue-icon.png);
            transition: all .25s ease-in-out;
        }
        .page-nav-dropdown__icon_support {
            background-image: url(/img/dest/page-nav/headset-blue-icon.png);
            transition: all .25s ease-in-out;
        }
        .page-nav-dropdown__icon_seo-public {
            background-image: url(/img/dest/page-nav/loupe-blue-icon.png);
            transition: all .25s ease-in-out;
        }
        &::after {
            background-image: url(/img/dest/page-nav/inner-page-menu-arrow-down-blue-icon.png);
            transition: all .25s ease-in-out;
        }
        .page-nav-dropdown__list {
            display: flex;
            opacity: 1;
            transition: opacity .25s ease-in-out;
        }
    }
}


.dropdown-link {
    display: flex;
    align-items: center;
    padding: 25px 10px;
    text-decoration: none;
    &__icon {
        width: 32px;
        height: 32px;
        background-repeat: no-repeat;
        margin-right: 20px;
        &_ecommerce {
            background-image: url(/img/dest/page-nav/inner-page-ecommerce-icon-grey.png);
        }
        &_corporate {
            background-image: url(/img/dest/page-nav/inner-page-corporate-icon-grey.png);
        }
        &_landing {
            background-image: url(/img/dest/page-nav/inner-page-landing-icon-grey.png);
        }
    }
    &__title {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        
        color: var(--textgrey);
    }
    &:hover {
        text-decoration: none;
        .dropdown-link__title {
            color: var(--accent);
            
        }
    }
}