.send-request {
    &__wrapper {
        background-size: cover;
        background-repeat: no-repeat;
        &_grey {
            background-image: url(/img/dest/forms/service-callback-grey-bg.jpg);
            padding: 250px 0 90px;
            .send-request__title {
                color: #242a2e;
            }
            .send-request__description {
                color: #242a2e;
            }
        }
        &_blue {
            background-image: url(/img/dest/forms/service-callback-blue-bg.jpg);
        }
    }
    .callback {
        position: relative;
        margin-bottom: -125px;
    }
    &__title {
        font-weight: 900;
        font-size: 64px;
        line-height: 64px;
        margin-bottom: 15px;
    }
    &__description {
        font-weight: 300;
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 50px;
    }
    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    &__item {
        
    }
}

.request-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    &__link-icon {
        display: block;
        width: 64px;
        height: 64px;
        background-repeat: no-repeat;
        margin-bottom: 20px;
        &_phone {
            background-image: url(/img/dest/send-request/callback-phone-blue-icon.png);
        }
        &_skype {
            background-image: url(/img/dest/send-request/callback-skype-blue-icon.png);
        }
        &_vk {
            background-image: url(/img/dest/send-request/callback-vk-blue-icon.png);
        }
        &_whatsapp {
            background-image: url(/img/dest/send-request/callback-whatsapp-blue-icon.png);
        }
        &_telegram {
            background-image: url(/img/dest/send-request/callback-telegram-blue-icon.png);
        }
    }
    &__link {
        font-weight: 900;
        font-size: 24px;
        line-height: 24px;
        color: var(--textgrey);
        span {
            color: #005497;
        }
    }
    &__description {
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
        color: #242a2e;
        text-transform: uppercase;
    }
}



