.services {
    padding: 125px 0 90px;
}

.service-card {
    position: relative;
    margin-bottom: 30px;
    transition: all 0.3s ease;
    box-shadow: 0px 16px 32px 0px rgba(176, 186, 193, 0.24);
    &:hover {
        box-shadow: none;
    }
    &__top {
        position: relative;
        display: block;
        padding: 65px 40px 30px;
        background-color: #00559e;
        &:hover {
            transition: all .3s ease-in-out;
            .service-card__description {
                text-decoration: underline;
                transition: all .3s ease-in-out;
            }
        }
    }
    &__header {
    }
    &__icon {
        position: relative;
        margin-bottom: 35px;
    }
    &__description {
        position: relative;
        font-weight: 900;
        font-size: 32px;
        line-height: 40px;
        color: #fff;
        overflow: hidden; /* include for safety */
        display: -webkit-box; /* setting a block element  */
        -webkit-box-orient: vertical; /* companion class   */
        -webkit-line-clamp: 2; /* number of lines  */
        transition: all .3s ease-in-out;
    }
    &__list {}
}

.service-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: var(--textwhite);
    text-transform: uppercase;
    &__item {

    }
    &__link {
        position: relative;
        display: block;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        color: var(--textgrey);
        letter-spacing: 0.04em;
        padding: 0 40px;
        text-decoration: none;
        transition: all 0.25s ease;
        span {
            position: relative;
            display: block;
            padding: 30px 0;
            &::before{
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                height: 1px;
                background-color: #e6eaec;
                
            }   
        }
        &:hover {
            span {
                &::before {
                    display: none;
                }
            }
            background-color: var(--hoverlightgrey);
            color: var(--accent);
            text-decoration: none;
            transition: all 0.25s ease;
        }
    }
}

.service-list__item:hover + .service-list__item .service-list__link span::before  {
    display: none;
}